<?xml version="1.0" encoding="utf-8" standalone="no"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5">

	<context-param>
		<param-name>contextClass</param-name>
		<param-value>
			org.springframework.web.context.support.AnnotationConfigWebApplicationContext
		</param-value>
	</context-param>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			com.cloudsherpas.poc.config.ApplicationConfiguration
		</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>

	<!-- Spring MVC Context Initializer -->
	<!-- Uncomment the following tag if you wish to use Spring MVC <servlet> 
		<servlet-name>springAppServlet</servlet-name> <servlet-class>org.springframework.web.servlet.DispatcherServlet 
		</servlet-class> <init-param> <param-name>contextClass</param-name> <param-value> 
		org.springframework.web.context.support.AnnotationConfigWebApplicationContext 
		</param-value> </init-param> <init-param> <param-name>contextConfigLocation</param-name> 
		<param-value>MVC Config Class</param-value> </init-param> </servlet> <servlet-mapping> 
		<servlet-name>springAppServlet</servlet-name> <url-pattern>/</url-pattern> 
		</servlet-mapping> -->

	<!-- Google App Engine API Explorer -->
	<servlet>
		<servlet-name>SystemServiceServlet</servlet-name>
		<servlet-class>com.cloudsherpas.poc.compatibility.AutowireSupportServiceServlet
		</servlet-class>
		<init-param>
			<param-name>services</param-name>
			<param-value> com.cloudsherpas.poc.api.CustomerResource
			</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>SystemServiceServlet</servlet-name>
		<url-pattern>/_ah/spi/*</url-pattern>
	</servlet-mapping>

</web-app>
